﻿@using Cms.Common.Definition
@model Dictionary<string, List<Cms.DataAccess.Entities.ContentItem>>
@{
    ViewBag.Title = "Home Page";
}
<div class="slider">
    <ul class="bxslider">
        @foreach (var item in Model[Constants.StartPage.Slider])
        {
            <li>
                <div class="slide">
                    <img src="/Images/@item.ImageUrl" alt="@item.Title" />
                    <div class="slide-big">
                        @item.Title
                    </div>
                    <div class="slide-small">
                        @item.Description
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="blue-block wp-small">
    <div class="half-col">
        <div class="clist-item">
            <div>
                <div>
                    <b class="bbb"></b>
                    <hr />
                    <p class="bbbt">
                    </p>
                    <a href="#" class="trans-btn bbbl">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="half-col">
        <ul class="clist">
            @foreach (var item in Model[Constants.StartPage.ServicesSlider])
            {
                <li class="@(Model[Constants.StartPage.ServicesSlider].First() == item ? "active" : "" )" 
                        data-href="@item.LinkUrl" data-image="/Images/@item.ImageUrl">
                    <div class="clist-icon">
                        <i class="fa fa-child" aria-hidden="true"></i>
                    </div>
                    <div class="clist-text">
                        <b>@item.Title</b>
                        <hr />
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="clear"></div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="rainbow-block">
    <ul>
        <li>
            <div class="r1">
                <div>
                    <p>
                        RALLY WITH HUNDREDS OF PTA PARENTS DURING RALLY DAY!
                    </p>
                    <a href="#" class="trans-btn" style="background:#ba2725;">Learn more</a>
                </div>
            </div>
        </li>
        <li>
            <div class="r2">
                <div>
                    <p>
                        REQUEST A READY. SET. ACHIEVE! PROGRAM FOR YOUR CAMPUS
                    </p>
                    <a href="#" class="trans-btn" style="background:#e29840;">Learn more</a>
                </div>
            </div>
        </li>
        <li>
            <div class="r3">
                <div>
                    <p>
                        GET THE LATEST PTA ITEMS TO EQUIP YOUR COmmYOUNITY
                    </p>
                    <a href="#" class="trans-btn" style="background:#66a75b;">Learn more</a>
                </div>
            </div>
        </li>
        <li>
            <div class="r4">
                <div>
                    <p>
                        IMAGINE PUTTING ON A MUSICAL IN JUST ONE WEEK. JOIN CAMP!
                    </p>
                    <a href="#" class="trans-btn" style="background:#cf3174;">Learn more</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="back-back-block">
    <div class="back-block wp-small">
        <div class="quarter-col">
            <div class="big-img">
                <img src="/Images/@Model[Constants.StartPage.CounterHeader][0].ImageUrl" alt="@Model[Constants.StartPage.CounterHeader][0].Title" />
            </div>
        </div>
        <div class="three-quarter-col backthe">
            <b>@Model[Constants.StartPage.CounterHeader][0].Title</b>
            <p>
                @Model[Constants.StartPage.CounterHeader][0].Description
            </p>
            <a href="@Model[Constants.StartPage.CounterHeader][0].LinkUrl" class="blue-btn">Read more</a>
        </div>
    </div>
</div>
<div class="iii">
    <div class="count-block wp-small">
        <div class="quarter-col">
            <div class="big-img">
            </div>
        </div>
        <div class="three-quarter-col">
            <ul class="count">
                @foreach (var item in @Model[Constants.StartPage.Counter])
                {
                    <li>
                        <b>@item.Title</b>
                        <hr />
                        <span>@item.Description</span>
                    </li>
                }
            </ul>
            <a href="@Model[Constants.StartPage.CounterHeader][0].LinkUrl" class="trans-btn center-btn">
                Donate today
            </a>
        </div>
    </div>
</div>
<div class="gray">
    <div class="mail-block wp-small">
        <i class="mail"></i>
        <div class="mail-form">
            <div>Stay Up-To-Date with PTA</div>
            <div>
                <input type="text" placeholder="Enter your email address">
            </div>
            <div>
                <button class="white-btn">
                    subscribe
                </button>
            </div>
        </div>
    </div>
</div>