﻿@using Cms.Common.Definition
@model Dictionary<string, List<Cms.DataAccess.Entities.ContentItem>>
@{
    ViewBag.Title = "Programs";
}
<div class="slider">
    <ul class="bxslider">
        @foreach (var item in Model[Constants.ProgramsPage.Slider])
        {
            <li>
                <div class="slide">
                    <img src="/Images/@item.ImageUrl" alt="@item.Title" />
                    <div class="slide-big-page">
                        @item.Title
                    </div>
                    <div class="slide-small-page">
                        @item.Description
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="partner-bar">
    <h3>THANKS TO OUR PARTNERS FOR BACKING THE FUTURE WITH US</h3>
    @foreach (var item in Model[Constants.ProgramsPage.Partners])
    {
        <a href="@item.LinkUrl" title="@item.Title">
            <img class="partner" src="/Images/@item.ImageUrl">
        </a>
    }
</div>
<div class="wp-small">
    <div class="internal-grid">
        @for (var i = 0; i < Model[Constants.ProgramsPage.Grid].Count; i++)
        {
            if (i == 0)
            {
                <div class="c4 bl1" style="background-image: url('/Images/@Model[Constants.ProgramsPage.Grid][i].ImageUrl')">
                    <div class="white-border">
                        <div class="text-w">
                            <span>@Model[Constants.ProgramsPage.Grid][i].Title</span>
                            <a class="aaa" href="@Model[Constants.ProgramsPage.Grid][i].LinkUrl">Learn More</a>
                        </div>
                    </div>
                </div>
            }
            else if (i >= Model[Constants.ProgramsPage.Grid].Count - 2)
            {
                <div class="c3 bl@(i + 1)" style="background-image: url('/Images/@Model[Constants.ProgramsPage.Grid][i].ImageUrl')">
                    <div class="text-w">
                        <span>@Model[Constants.ProgramsPage.Grid][i].Title</span>
                        <a class="aaa" href="@Model[Constants.ProgramsPage.Grid][i].LinkUrl">Learn More</a>
                    </div>
                </div>
            }
            else
            {
                <div class="c2 bl@(i + 1)" style="background-image: url('/Images/@Model[Constants.ProgramsPage.Grid][i].ImageUrl')">
                    <div class="text-w">
                        <span>@Model[Constants.ProgramsPage.Grid][i].Title</span>
                        <a class="aaa" href="@Model[Constants.ProgramsPage.Grid][i].LinkUrl">Learn More</a>
                    </div>
                </div>
            }
        }        
    </div>
</div>

