﻿@using Cms.Common.Extension
@model Cms.ViewModels.FileModel.FilesListViewModel
@{
    ViewBag.Title = "Files";
    Layout = "~/Areas/Admin/Views/Shared/_ThemeLayout.cshtml";
}
<style>
    .bootstrap-select.form-control {
        width: auto !important;
        min-width: 200px;
    }
</style>
<h1>
    @ViewBag.Title <small>manager</small>
</h1>
<div class="row" data-bind="with: tableFiles">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="bg-custom">
                    <div class="form-inline">
                        <div class="form-group" style="margin-right: 10px;">
                            <label>Search</label>
                            <input type="text" class="form-control" data-bind="textInput: paged.searchForm.query">
                        </div>
                        <div class="form-group" style="margin-right: 10px;">
                            <label>Category</label>
                            <select class="form-control" data-bind="options: categories,
                                                                    optionsText: 'Title',
                                                                    optionsValue: 'Id',
                                                                    value: paged.searchForm.categoryId,
                                                                    optionsCaption: ' '"></select>
                        </div>
                        <div class="form-group">
                            <label>Tag</label>
                            <select class="form-control" data-bind="options: tags,
                                                                    optionsText: 'Title',
                                                                    optionsValue: 'Id',
                                                                    value: paged.searchForm.tagId,
                                                                    optionsCaption: ' '"></select>
                        </div>
                        <button type="button" class="btn btn-default" data-bind="click:paged.searchForm.clean">Clear Filter</button>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                    <table class="table table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Categories</th>
                                <th>Tags</th>
                                <th>Need Auth</th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: paged.filtered">
                            <tr>
                                <td data-bind="text: Id"></td>
                                <td data-bind="text: Name"></td>
                                <td>
                                    <a data-bind="attr:{href: '/uploads/'+Extension+'/'+Id+'/'+Name+'.'+Extension}" target="_blank">Download</a>
                                </td>
                                <td data-bind="foreach: Categories" class="ccat">
                                    <span data-bind="text: Title, click: function(item){$root.tableFiles.paged.searchForm.categoryId(item.Id);$('select').change();}"></span>
                                </td>
                                <td data-bind="foreach: Tags" class="ctag">
                                    <span class="label label-success w-300" data-bind="text: Title, click: function(item){$root.tableFiles.paged.searchForm.tagId(item.Id);$('select').change();}"></span>
                                </td>
                                <td style="padding: 14px 8px;">
                                    <input type="checkbox" data-bind="checked: AuthRequired, event: { change: $root.tableFiles.authChange }"/>
                                </td>
                                <td>
                                    <a class="delete btn btn-danger" href="#remove" data-bind="click: $root.tableFiles.recordRemove">
                                        <i class="fa fa-times-circle"></i> Remove
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="pagination" style="margin-left: 40px">
                        <li>
                            <a href="#" aria-label="Previous" data-bind="click: paged.pagPrev">
                                <span aria-hidden="true">Prev</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span data-bind="text: paged.page"></span>/<span data-bind="text: paged.totalPage"></span> pages
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next" data-bind="click: paged.pagNext">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Scripts/admin/filetable.js"></script>
    <script>
        jQuery(function($) {
            Admin_File_Table({
                categories: @Html.ToJson(Model.Categories),
                tags: @Html.ToJson(Model.Tags),
                files: @Html.ToJson(Model.Files),
                urlDelete: "@Url.Action("Delete")",
                urlChangeAuth: "@Url.Action("ChangeAuth")"
                });
        });
    </script>
