﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large">
<!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="~/Content/admin/theme/img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="~/Content/admin/theme/css/icons/icons.min.css" rel="stylesheet">
    <link href="~/Content/admin/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/admin/theme/css/plugins.min.css" rel="stylesheet">
    <link href="~/Content/admin/theme/css/style.min.css" rel="stylesheet">
    <link href="#" rel="stylesheet" id="theme-color">
    <!-- END  MANDATORY STYLE -->
    <script src="~/Content/admin/theme/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body class="error-page">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
            <div class="error-container">
                <div class="error-main">
                    <h1> Oops.</h1>
                    <h3> The page you are trying to reach doesn't exist. </h3>
                    <h4> Go back to our site or <a href="/">contact us</a> about the problem. </h4>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">2016 © Uploader</div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/admin/theme/plugins/jquery-1.11.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Content/admin/theme/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/admin/theme/plugins/nprogress/nprogress.js" type="text/javascript"></script>
    <script src="~/Content/admin/theme/js/application.js"></script>
</body>

</html>
