﻿@using Cms.Common.HtmlHelper
<aside class="left-menu">
    <ul class="">
        <li class="@Html.MenuLinkIsActive("Start", "Content")"><a href="@Url.Action("Start", "Content", new {area = "Admin"})"><i class="glyphicon glyphicon-home"></i> Main Page</a></li>
        <li class="@Html.MenuLinkIsActive("Programs", "Content")"><a href="@Url.Action("Programs", "Content", new {area = "Admin"})"><i class="glyphicon glyphicon-asterisk"></i> Programs Page</a></li>
        <li class="@Html.MenuLinkIsActive("Index", "Page")"><a href="@Url.Action("Index", "Page", new { area = "Admin" })"><i class="glyphicon glyphicon-pencil"></i> Manage Pages</a></li>
    </ul>
</aside>
