﻿@using Cms.Common.HtmlHelper
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html class="no-js sidebar-large">

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="~/Content/admin/theme/img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="~/Content/admin/theme/css/icons/icons.min.css" rel="stylesheet">
    <link href="~/Content/admin/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/admin/theme/css/plugins.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/admin/theme/plugins/jnotify/jNotify.jquery.css">
    <link href="~/Content/admin/theme/css/style.min.css" rel="stylesheet">
    <!-- END MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="~/Content/admin/theme/plugins/modal/css/component.css" rel="stylesheet">
    <link href="~/Content/siteAdmin.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLE -->
    <script src="~/Content/admin/theme/plugins/jquery-1.11.js"></script>
    @*<script src="~/Content/admin/theme/plugins/jquery-migrate-1.2.1.js"></script>*@
    <script src="~/Content/admin/theme/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content/admin/theme/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Content/admin/theme/plugins/jnotify/jNotify.jquery.min.js"></script>
    <script src="~/Content/admin/theme/js/notifications.js"></script>
    <script>
        masterView = {};
    </script>
    @RenderSection("Styles", false)
</head>

<body data-page="blank_page">
    <!-- BEGIN TOP MENU -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="menu-medium" class="sidebar-toggle tooltips">
                    <i class="fa fa-outdent"></i>
                </a>
                <a class="navbar-brand" href="/" style="background: none"></a>
            </div>
            <div class="navbar-center">@ViewBag.Title</div>
            <div class="navbar-collapse collapse">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right header-menu">
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img src="~/Content/admin/theme/img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
                            <span class="username">@User.Identity.GetUserName()</span>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Manage", new { area = "" })">
                                    <i class="glyph-icon flaticon-settings21"></i> Account Settings
                                </a>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="javascript:;" class="toggle_fullscreen" title="Fullscreen">
                                    <i class="glyph-icon flaticon-fullscreen3"></i>
                                </a>
                                <a href="@Url.Action("LogOff", "Account", new { area = "" })" title="Logout">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <nav id="sidebar">
            <div id="main-menu">
                <ul class="sidebar-nav">
                    <li class="@Html.MenuLinkIsActive("Index", "Dashboard")"><a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a></li>
                    <li class="@Html.MenuLinkIsActive("Start", "Content")"><a href="@Url.Action("Start", "Content", new {area = "Admin"})"><i class="fa fa-home"></i><span class="sidebar-text">Main Page</span></a></li>
                    <li class="@Html.MenuLinkIsActive("Programs", "Content")"><a href="@Url.Action("Programs", "Content", new {area = "Admin"})"><i class="fa fa-asterisk"></i><span class="sidebar-text">Programs Page</span></a></li>
                    <li class="@Html.MenuLinkIsActive("Index", "Page")"><a href="@Url.Action("Index", "Page", new {area = "Admin"})"><i class="fa fa-pencil"></i><span class="sidebar-text">Manage Pages</span></a></li>
                    <li class="@Html.MenuLinkIsActive("Index", "Upload")">
                        <a href="@Url.Action("Upload", "Upload", new {area = "Admin"})"><i class="fa fa-file"></i><span class="sidebar-text">Upload</span></a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@Html.MenuLinkIsActive("Index", "Files")">
                            <a href="@Url.Action("Index", "Files", new {area = "Admin"})">
                                <i class="fa fa-files-o"></i><span class="sidebar-text">Files</span>
                            </a>
                        </li>
                        <li class="@Html.MenuLinkIsActive("Index", "Categories")">
                            <a href="@Url.Action("Index", "Categories", new {area = "Admin"})">
                                <i class="fa fa-pencil"></i><span class="sidebar-text">Categories</span>
                            </a>
                        </li>
                        <li class="@Html.MenuLinkIsActive("Index", "Tags")">

                            <a href="@Url.Action("Index", "Tags", new {area = "Admin"})">
                                <i class="fa fa-tags"></i><span class="sidebar-text">Tags</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="footer-widget">
                <div class="footer-gradient"></div>
                <div class="sidebar-footer clearfix">
                    <a class="pull-left" href="@Url.Action("Index", "Manage", new { area = "" })" data-rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                    <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                    <a class="pull-left" href="@Url.Action("LogOff", "Account", new { area = "" })"><i class="fa fa-power-off"></i></a>
                </div>
            </div>
        </nav>

        <!-- END MAIN SIDEBAR -->
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="~/Content/admin/theme/plugins/jquery-mobile/jquery.mobile-1.4.2.js"></script>
    <script src="~/Content/admin/theme/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/admin/theme/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Content/admin/theme/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/Content/admin/theme/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/admin/theme/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
    <script src="~/Content/admin/theme/plugins/nprogress/nprogress.js"></script>
    <script src="~/Content/admin/theme/plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="~/Content/admin/theme/plugins/breakpoints/breakpoints.js"></script>
    <script src="~/Content/admin/theme/plugins/numerator/jquery-numerator.js"></script>
    <script src="~/Content/admin/theme/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/admin/theme/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/admin/theme/plugins/modal/js/classie.js"></script>
    <script src="~/Content/admin/theme/plugins/modal/js/modalEffects.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/Content/admin/theme/js/application.js"></script>

    @RenderSection("Scripts", false)

    <script>
        jQuery(function ($) {
            ko.applyBindings(masterView);
        });
    </script>
</body>
</html>
