﻿@using Cms.Common.Extension
@model Cms.ViewModels.Page.PageViewModel

@{
    ViewBag.Title = "New page";
}

<h2>New page</h2>


@using (Html.BeginForm("Create", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Page title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Page description" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>*@
                    <div class="form-group">
                        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Publish<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                @Html.EnumListFor(x => x.PageStatus, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Save" class="btn btn-primary pull-right" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Page Attributes<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Parent Page</label>
                                @Html.DropDownListFor(x => x.ParentId, Model.PageList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Template</label>
                                @Html.EnumListFor(x => x.Template, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Page banner<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">Image</label>
                                <input type="file" class="form-control" name="Image" />
                                @if (!string.IsNullOrEmpty(Model.Banner.ImageUrl))
                                {
                                    <div class="img-container col-md-offset-2">
                                        <img src="/Images/@Model.Banner.ImageUrl" />
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => Model.Banner.Title, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => Model.Banner.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model.Banner.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => Model.Banner.Description, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => Model.Banner.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model.Banner.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => Model.Banner.LinkUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => Model.Banner.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model.Banner.LinkUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
