﻿@model IEnumerable<Cms.ViewModels.Page.PagePreViewModel>

@{
    ViewBag.Title = "Pages";
}
<div class="row">
    <div class="col-sm-2">
        <h2>Pages</h2>
    </div>
    <div class="col-sm-2">
        <div class="form-group"><a href="@Url.Action("Create")" class="btn btn-primary new-btn">New Page</a></div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.CreateDate.ToShortDateString()
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                <a href="@Url.Action("Post", "Blog", new {area = "", id = item.Id})" class="btn btn-success">Preview</a>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </div>
        </td>
    </tr>
}

</table>
