﻿@using Cms.Common.Definition
@model Cms.ViewModels.Page.PageViewModel
<div class="slider">
    <ul class="bxslider">
        <li>
            <div class="slide">
                <img src="/Images/@Model.Banner.ImageUrl" alt="@Model.Banner.Title" />
                <div class="slide-big-page">
                    @Model.Banner.Title
                </div>
                <div class="slide-small-page">
                    @Model.Banner.Description
                </div>
            </div>
        </li>
        <li>
        </li>
    </ul>
</div>
@*<div class="partner-bar">
    <h3>THANKS TO OUR PARTNERS FOR BACKING THE FUTURE WITH US</h3>
    @foreach (var item in Model[Constants.ProgramsPage.Partners])
    {
        <a href="@item.LinkUrl" title="@item.Title">
            <img class="partner" src="/Images/@item.ImageUrl">
        </a>
    }
</div>*@
<div class="wp-small">
    <div class="inner-nav-column">
        <div class="inner-nav">
            <ul>
                @foreach (var page in Model.ChildPages)
                {
                    <li><a href="@Url.Action("Post", "Blog", new { id = page.Id })">@page.Title</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="page-content">
        @Html.Raw(Model.Body)
    </div>
</div>
