﻿@model IEnumerable<Cms.ViewModels.Page.TitleViewModel>
<ul class="nav navbar-nav">
    @if (Model != null)
    {
        foreach (var title in Model)
        {
            <li>@Html.ActionLink(title.Title, "Post", new { id = title.Id })</li>
        }
    }
</ul>
