﻿@using Cms.Common.Extension
@model Cms.ViewModels.UploadModel.IndexViewModel
@{
    ViewBag.Title = "Files";
    Layout = "~/Areas/Admin/Views/Shared/_ThemeLayout.cshtml";
}

<div class="container" style="margin-top: 30px;" data-bind="with: tableFiles">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <div class="bg-custom">
                    <div class="form-inline">
                        <div class="form-group" style="margin-right: 10px;">
                            <label>Search</label>
                            <input type="text" class="form-control" data-bind="textInput: paged.searchForm.query">
                        </div>
                        <div class="form-group" style="margin-right: 10px;">
                            <label>Category</label>
                            <select class="form-control" data-bind="options: categories,
                                                                    optionsText: 'Title',
                                                                    optionsValue: 'Id',
                                                                    value: paged.searchForm.categoryId,
                                                                    optionsCaption: ' '"></select>
                        </div>
                        <div class="form-group">
                            <label>Tag</label>
                            <select class="form-control" data-bind="options: tags,
                                                                    optionsText: 'Title',
                                                                    optionsValue: 'Id',
                                                                    value: paged.searchForm.tagId,
                                                                    optionsCaption: ' '"></select>
                        </div>
                        <button type="button" class="btn btn-default" data-bind="click:paged.searchForm.clean">Clear Filter</button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Categories</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: paged.filtered">
                    <tr>
                        <th scope="row" data-bind="text: Id"></th>
                        <td data-bind="text: Name + '.' + Extension"></td>
                        <td>
                            <a data-bind="attr:{href: '/uploads/'+Extension+'/'+Id+'/'+Name+'.'+Extension}" target="_blank">Download</a>
                        </td>
                        <td data-bind="foreach: Categories" class="ccat">
                            <span data-bind="text: Title, click: function(item){$root.tableFiles.paged.searchForm.categoryId(item.Id)}"></span>
                        </td>
                        <td data-bind="foreach: Tags" class="ctag">
                            <span data-bind="text: Title, click: function(item){$root.tableFiles.paged.searchForm.tagId(item.Id)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <ul class="pagination" style="margin-left: 40px">
                    <li>
                        <a href="#" aria-label="Previous" data-bind="click: paged.pagPrev">
                            <span aria-hidden="true">Prev</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span data-bind="text: paged.page"></span>/<span data-bind="text: paged.totalPage"></span> pages
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next" data-bind="click: paged.pagNext">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/front/filetable.js"></script>
    <script>
        jQuery(function($) {
            File_Table({
                categories: @Html.ToJson(Model.AllCategories),
                tags: @Html.ToJson(Model.AllTags),
                files: @Html.ToJson(Model.Files)
            });
        });
    </script>
}
