﻿@model Cms.ViewModels.UploadModel.UploadViewModel
@{
    ViewBag.Title = "Upload file";
    Layout = "~/Areas/Admin/Views/Shared/_ThemeLayout.cshtml";
}

@if (TempData["url"] != null)
{
    <script>
        jQuery(function($) {
            jSuccess("<i class='fa fa-info-circle' style='color:#666;padding-right:8px'></i> File's uploaded. <textarea class='ulink form-control'>"+"@((new Uri(Request.Url, Url.Content(TempData["url"].ToString()))).AbsoluteUri)"+"</textarea>",
            {
                ShowOverlay: true,
                autoHide: false,
                clickOverlay: true,
                onCompleted: function() {
                    $("#jSuccess").unbind();
                }
            });
        });
    </script>
}

<div class="" style="margin-top: 30px;" data-bind="with: upload">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <h1>@ViewBag.Title</h1>
                <hr>
                @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
                {
                    <div class="col-lg-8">
                        <div class="form-group ">
                            <div class="col-lg-5">
                                <label class="control-label">File (max 10 Mb)</label>
                            </div>
                            <div class="col-lg-7">
                                @Html.TextBoxFor(m => m.File,
                                    new
                                    {
                                        type = "file",
                                        @class = "form-control",
                                        accept = ".pdf,.doc,.docx", //application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document
                                        data_bind = "event: { change: function() { fileInit($element.files[0]) } }"
                                    })
                                @Html.ValidationMessageFor(m => m.File)
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group ">
                            <div class="col-lg-5">
                                <label class="control-label">File name (without extension)</label>
                            </div>
                            <div class="col-lg-7">
                                <div class="input-group" style="max-width: 280px">
                                    @Html.TextBoxFor(t => t.FileName, new { @class = "form-control", data_bind="textInput: file.name" })
                                    <div class="input-group-addon" data-bind="text: file.ext"></div>
                                </div>
                                @Html.ValidationMessageFor(m => m.FileName)
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group ">
                            <div class="col-lg-5">
                                <label class="control-label" for="css--upload__category">Category(s)</label>
                            </div>
                            <div class="col-lg-7">
                                @Html.ListBoxFor(f => f.CategoryIds, Model.AllCategories.Select(s => new SelectListItem
                                {
                                    Text = s.Title,
                                    Value = s.Id.ToString()
                                }), new {@class = "select-category"})
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group ">
                            <div class="col-lg-5">
                                <label class="control-label">Tags</label>
                            </div>
                            <div class="col-lg-7">
                                @Html.ListBoxFor(f => f.Tags, Model.AllTags.Select(s => new SelectListItem
                                {
                                    Text = s.Title,
                                    Value = s.Title.ToString()
                                }), new {@class = "select-tag"})
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group ">
                            <div class="col-lg-5">
                                <label class="control-label">Password protected?</label>
                            </div>
                            <div class="col-lg-7">
                                @Html.CheckBoxFor(f=>f.AuthRequired)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-8">
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/front/fileupload.js"></script>
    <script>
        jQuery(function ($) {
            FileUpload_Init({

            });
        });
    </script>
}
