﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EDEDED;
}
.form-control, .panel-heading, .panel-footer {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-inverse {
    background-color: #1A1E22 !important;
    border: none;
}
.body-content {
    width: 85%;
    float: right;
}
.left-menu {
    float: left;
    width: 15%;
    height: 100%;
    padding-bottom: 100%;
    background-color: #1A1E22;
}
.left-menu > ul {
    padding-top: 10px;
    list-style: none;
    padding-left: 0 !important;
}
.left-menu > ul > li {
    padding: 10px;
}
.left-menu > ul > li:hover {
    background-color: #13171B;
}
.left-menu > ul > li.active {
    background-color: #0B5E9A;
}
.left-menu > ul > li > a > i {
    padding-right: 10px;
}
.left-menu > ul > li > a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.left-menu > ul > li > a:hover {
    text-decoration: none;
    color: #15ABE6;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.img-container img {
    width: 45%;
        margin-bottom: 10px;
    margin-left: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.delete-btn {
    padding-top: 7px;
    float: left !important;
    color: #a94442;
}
.new-btn {
    margin-top: 20px;
}
.clickable{
    cursor: pointer;   
}
.panel-heading {
    font-weight: bold;
}
.panel-heading span {
	font-size: 15px;
}
