﻿body {
}

.row hr {
    width: 100%;
}
.ctag span {
    cursor: pointer;
}

.ccat span {
    font-size: 12px;
    cursor: pointer;
}

.ccat span:hover {
    text-decoration: underline;
}

.ccat span:after {
    content: ', '
}
.ccat span:last-child:after {
    content: ''
}

.img-container img {
    width: 45%;
        margin-bottom: 10px;
    margin-left: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.delete-btn {
    padding-top: 7px;
    float: left !important;
    color: #a94442;
}
.new-btn {
    margin-top: 20px;
}
.clickable{
    cursor: pointer;   
}
.panel-heading {
    font-weight: bold;
}
.panel-heading span {
	font-size: 15px;
}