/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
progress, sub, sup {
    vertical-align: baseline
}

button, hr, input {
    overflow: visible
}

.fa-ul > li, sub, sup {
    position: relative
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager, .fa-fw, .fa-li {
    text-align: center
}

li, ul, ul.bxslider {
    list-style: none
}

.clear, .clist li {
    clear: both
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

.big-img img, .footer .fa, div, legend, li {
    box-sizing: border-box
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

.fa.fa-pull-left, .fa.pull-left {
    margin-right: .3em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

.fa, .fa-stack {
    display: inline-block
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/*!
 *  Font Awesome 4.6.2 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.6.2);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.6.2) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.6.2) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.6.2) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.6.2) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571429em
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa.fa-pull-right, .fa.pull-right {
    margin-left: .3em
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em
}

.fa-li.fa-lg {
    left: -1.85714286em
}

.fa-border {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right, .pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-rotate-90 {
    filter: none
}

.fa-stack {
    position: relative;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.comm, div, li {
    vertical-align: top
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-glass:before {
    content: "\f000"
}

.fa-music:before {
    content: "\f001"
}

.fa-search:before {
    content: "\f002"
}

.fa-envelope-o:before {
    content: "\f003"
}

.fa-heart:before {
    content: "\f004"
}

.fa-star:before {
    content: "\f005"
}

.fa-star-o:before {
    content: "\f006"
}

.fa-user:before {
    content: "\f007"
}

.fa-film:before {
    content: "\f008"
}

.fa-th-large:before {
    content: "\f009"
}

.fa-th:before {
    content: "\f00a"
}

.fa-th-list:before {
    content: "\f00b"
}

.fa-check:before {
    content: "\f00c"
}

.fa-close:before, .fa-remove:before, .fa-times:before {
    content: "\f00d"
}

.fa-search-plus:before {
    content: "\f00e"
}

.fa-search-minus:before {
    content: "\f010"
}

.fa-power-off:before {
    content: "\f011"
}

.fa-signal:before {
    content: "\f012"
}

.fa-cog:before, .fa-gear:before {
    content: "\f013"
}

.fa-trash-o:before {
    content: "\f014"
}

.fa-home:before {
    content: "\f015"
}

.fa-file-o:before {
    content: "\f016"
}

.fa-clock-o:before {
    content: "\f017"
}

.fa-road:before {
    content: "\f018"
}

.fa-download:before {
    content: "\f019"
}

.fa-arrow-circle-o-down:before {
    content: "\f01a"
}

.fa-arrow-circle-o-up:before {
    content: "\f01b"
}

.fa-inbox:before {
    content: "\f01c"
}

.fa-play-circle-o:before {
    content: "\f01d"
}

.fa-repeat:before, .fa-rotate-right:before {
    content: "\f01e"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-list-alt:before {
    content: "\f022"
}

.fa-lock:before {
    content: "\f023"
}

.fa-flag:before {
    content: "\f024"
}

.fa-headphones:before {
    content: "\f025"
}

.fa-volume-off:before {
    content: "\f026"
}

.fa-volume-down:before {
    content: "\f027"
}

.fa-volume-up:before {
    content: "\f028"
}

.fa-qrcode:before {
    content: "\f029"
}

.fa-barcode:before {
    content: "\f02a"
}

.fa-tag:before {
    content: "\f02b"
}

.fa-tags:before {
    content: "\f02c"
}

.fa-book:before {
    content: "\f02d"
}

.fa-bookmark:before {
    content: "\f02e"
}

.fa-print:before {
    content: "\f02f"
}

.fa-camera:before {
    content: "\f030"
}

.fa-font:before {
    content: "\f031"
}

.fa-bold:before {
    content: "\f032"
}

.fa-italic:before {
    content: "\f033"
}

.fa-text-height:before {
    content: "\f034"
}

.fa-text-width:before {
    content: "\f035"
}

.fa-align-left:before {
    content: "\f036"
}

.fa-align-center:before {
    content: "\f037"
}

.fa-align-right:before {
    content: "\f038"
}

.fa-align-justify:before {
    content: "\f039"
}

.fa-list:before {
    content: "\f03a"
}

.fa-dedent:before, .fa-outdent:before {
    content: "\f03b"
}

.fa-indent:before {
    content: "\f03c"
}

.fa-video-camera:before {
    content: "\f03d"
}

.fa-image:before, .fa-photo:before, .fa-picture-o:before {
    content: "\f03e"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-map-marker:before {
    content: "\f041"
}

.fa-adjust:before {
    content: "\f042"
}

.fa-tint:before {
    content: "\f043"
}

.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044"
}

.fa-share-square-o:before {
    content: "\f045"
}

.fa-check-square-o:before {
    content: "\f046"
}

.fa-arrows:before {
    content: "\f047"
}

.fa-step-backward:before {
    content: "\f048"
}

.fa-fast-backward:before {
    content: "\f049"
}

.fa-backward:before {
    content: "\f04a"
}

.fa-play:before {
    content: "\f04b"
}

.fa-pause:before {
    content: "\f04c"
}

.fa-stop:before {
    content: "\f04d"
}

.fa-forward:before {
    content: "\f04e"
}

.fa-fast-forward:before {
    content: "\f050"
}

.fa-step-forward:before {
    content: "\f051"
}

.fa-eject:before {
    content: "\f052"
}

.fa-chevron-left:before {
    content: "\f053"
}

.fa-chevron-right:before {
    content: "\f054"
}

.fa-plus-circle:before {
    content: "\f055"
}

.fa-minus-circle:before {
    content: "\f056"
}

.fa-times-circle:before {
    content: "\f057"
}

.fa-check-circle:before {
    content: "\f058"
}

.fa-question-circle:before {
    content: "\f059"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-crosshairs:before {
    content: "\f05b"
}

.fa-times-circle-o:before {
    content: "\f05c"
}

.fa-check-circle-o:before {
    content: "\f05d"
}

.fa-ban:before {
    content: "\f05e"
}

.fa-arrow-left:before {
    content: "\f060"
}

.fa-arrow-right:before {
    content: "\f061"
}

.fa-arrow-up:before {
    content: "\f062"
}

.fa-arrow-down:before {
    content: "\f063"
}

.fa-mail-forward:before, .fa-share:before {
    content: "\f064"
}

.fa-expand:before {
    content: "\f065"
}

.fa-compress:before {
    content: "\f066"
}

.fa-plus:before {
    content: "\f067"
}

.fa-minus:before {
    content: "\f068"
}

.fa-asterisk:before {
    content: "\f069"
}

.fa-exclamation-circle:before {
    content: "\f06a"
}

.fa-gift:before {
    content: "\f06b"
}

.fa-leaf:before {
    content: "\f06c"
}

.fa-fire:before {
    content: "\f06d"
}

.fa-eye:before {
    content: "\f06e"
}

.fa-eye-slash:before {
    content: "\f070"
}

.fa-exclamation-triangle:before, .fa-warning:before {
    content: "\f071"
}

.fa-plane:before {
    content: "\f072"
}

.fa-calendar:before {
    content: "\f073"
}

.fa-random:before {
    content: "\f074"
}

.fa-comment:before {
    content: "\f075"
}

.fa-magnet:before {
    content: "\f076"
}

.fa-chevron-up:before {
    content: "\f077"
}

.fa-chevron-down:before {
    content: "\f078"
}

.fa-retweet:before {
    content: "\f079"
}

.fa-shopping-cart:before {
    content: "\f07a"
}

.fa-folder:before {
    content: "\f07b"
}

.fa-folder-open:before {
    content: "\f07c"
}

.fa-arrows-v:before {
    content: "\f07d"
}

.fa-arrows-h:before {
    content: "\f07e"
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080"
}

.fa-twitter-square:before {
    content: "\f081"
}

.fa-facebook-square:before {
    content: "\f082"
}

.fa-camera-retro:before {
    content: "\f083"
}

.fa-key:before {
    content: "\f084"
}

.fa-cogs:before, .fa-gears:before {
    content: "\f085"
}

.fa-comments:before {
    content: "\f086"
}

.fa-thumbs-o-up:before {
    content: "\f087"
}

.fa-thumbs-o-down:before {
    content: "\f088"
}

.fa-star-half:before {
    content: "\f089"
}

.fa-heart-o:before {
    content: "\f08a"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-linkedin-square:before {
    content: "\f08c"
}

.fa-thumb-tack:before {
    content: "\f08d"
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-sign-in:before {
    content: "\f090"
}

.fa-trophy:before {
    content: "\f091"
}

.fa-github-square:before {
    content: "\f092"
}

.fa-upload:before {
    content: "\f093"
}

.fa-lemon-o:before {
    content: "\f094"
}

.fa-phone:before {
    content: "\f095"
}

.fa-square-o:before {
    content: "\f096"
}

.fa-bookmark-o:before {
    content: "\f097"
}

.fa-phone-square:before {
    content: "\f098"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a"
}

.fa-github:before {
    content: "\f09b"
}

.fa-unlock:before {
    content: "\f09c"
}

.fa-credit-card:before {
    content: "\f09d"
}

.fa-feed:before, .fa-rss:before {
    content: "\f09e"
}

.fa-hdd-o:before {
    content: "\f0a0"
}

.fa-bullhorn:before {
    content: "\f0a1"
}

.fa-bell:before {
    content: "\f0f3"
}

.fa-certificate:before {
    content: "\f0a3"
}

.fa-hand-o-right:before {
    content: "\f0a4"
}

.fa-hand-o-left:before {
    content: "\f0a5"
}

.fa-hand-o-up:before {
    content: "\f0a6"
}

.fa-hand-o-down:before {
    content: "\f0a7"
}

.fa-arrow-circle-left:before {
    content: "\f0a8"
}

.fa-arrow-circle-right:before {
    content: "\f0a9"
}

.fa-arrow-circle-up:before {
    content: "\f0aa"
}

.fa-arrow-circle-down:before {
    content: "\f0ab"
}

.fa-globe:before {
    content: "\f0ac"
}

.fa-wrench:before {
    content: "\f0ad"
}

.fa-tasks:before {
    content: "\f0ae"
}

.fa-filter:before {
    content: "\f0b0"
}

.fa-briefcase:before {
    content: "\f0b1"
}

.fa-arrows-alt:before {
    content: "\f0b2"
}

.fa-group:before, .fa-users:before {
    content: "\f0c0"
}

.fa-chain:before, .fa-link:before {
    content: "\f0c1"
}

.fa-cloud:before {
    content: "\f0c2"
}

.fa-flask:before {
    content: "\f0c3"
}

.fa-cut:before, .fa-scissors:before {
    content: "\f0c4"
}

.fa-copy:before, .fa-files-o:before {
    content: "\f0c5"
}

.fa-paperclip:before {
    content: "\f0c6"
}

.fa-floppy-o:before, .fa-save:before {
    content: "\f0c7"
}

.fa-square:before {
    content: "\f0c8"
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    content: "\f0c9"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-list-ol:before {
    content: "\f0cb"
}

.fa-strikethrough:before {
    content: "\f0cc"
}

.fa-underline:before {
    content: "\f0cd"
}

.fa-table:before {
    content: "\f0ce"
}

.fa-magic:before {
    content: "\f0d0"
}

.fa-truck:before {
    content: "\f0d1"
}

.fa-pinterest:before {
    content: "\f0d2"
}

.fa-pinterest-square:before {
    content: "\f0d3"
}

.fa-google-plus-square:before {
    content: "\f0d4"
}

.fa-google-plus:before {
    content: "\f0d5"
}

.fa-money:before {
    content: "\f0d6"
}

.fa-caret-down:before {
    content: "\f0d7"
}

.fa-caret-up:before {
    content: "\f0d8"
}

.fa-caret-left:before {
    content: "\f0d9"
}

.fa-caret-right:before {
    content: "\f0da"
}

.fa-columns:before {
    content: "\f0db"
}

.fa-sort:before, .fa-unsorted:before {
    content: "\f0dc"
}

.fa-sort-desc:before, .fa-sort-down:before {
    content: "\f0dd"
}

.fa-sort-asc:before, .fa-sort-up:before {
    content: "\f0de"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-rotate-left:before, .fa-undo:before {
    content: "\f0e2"
}

.fa-gavel:before, .fa-legal:before {
    content: "\f0e3"
}

.fa-dashboard:before, .fa-tachometer:before {
    content: "\f0e4"
}

.fa-comment-o:before {
    content: "\f0e5"
}

.fa-comments-o:before {
    content: "\f0e6"
}

.fa-bolt:before, .fa-flash:before {
    content: "\f0e7"
}

.fa-sitemap:before {
    content: "\f0e8"
}

.fa-umbrella:before {
    content: "\f0e9"
}

.fa-clipboard:before, .fa-paste:before {
    content: "\f0ea"
}

.fa-lightbulb-o:before {
    content: "\f0eb"
}

.fa-exchange:before {
    content: "\f0ec"
}

.fa-cloud-download:before {
    content: "\f0ed"
}

.fa-cloud-upload:before {
    content: "\f0ee"
}

.fa-user-md:before {
    content: "\f0f0"
}

.fa-stethoscope:before {
    content: "\f0f1"
}

.fa-suitcase:before {
    content: "\f0f2"
}

.fa-bell-o:before {
    content: "\f0a2"
}

.fa-coffee:before {
    content: "\f0f4"
}

.fa-cutlery:before {
    content: "\f0f5"
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-building-o:before {
    content: "\f0f7"
}

.fa-hospital-o:before {
    content: "\f0f8"
}

.fa-ambulance:before {
    content: "\f0f9"
}

.fa-medkit:before {
    content: "\f0fa"
}

.fa-fighter-jet:before {
    content: "\f0fb"
}

.fa-beer:before {
    content: "\f0fc"
}

.fa-h-square:before {
    content: "\f0fd"
}

.fa-plus-square:before {
    content: "\f0fe"
}

.fa-angle-double-left:before {
    content: "\f100"
}

.fa-angle-double-right:before {
    content: "\f101"
}

.fa-angle-double-up:before {
    content: "\f102"
}

.fa-angle-double-down:before {
    content: "\f103"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}

.fa-angle-up:before {
    content: "\f106"
}

.fa-angle-down:before {
    content: "\f107"
}

.fa-desktop:before {
    content: "\f108"
}

.fa-laptop:before {
    content: "\f109"
}

.fa-tablet:before {
    content: "\f10a"
}

.fa-mobile-phone:before, .fa-mobile:before {
    content: "\f10b"
}

.fa-circle-o:before {
    content: "\f10c"
}

.fa-quote-left:before {
    content: "\f10d"
}

.fa-quote-right:before {
    content: "\f10e"
}

.fa-spinner:before {
    content: "\f110"
}

.fa-circle:before {
    content: "\f111"
}

.fa-mail-reply:before, .fa-reply:before {
    content: "\f112"
}

.fa-github-alt:before {
    content: "\f113"
}

.fa-folder-o:before {
    content: "\f114"
}

.fa-folder-open-o:before {
    content: "\f115"
}

.fa-smile-o:before {
    content: "\f118"
}

.fa-frown-o:before {
    content: "\f119"
}

.fa-meh-o:before {
    content: "\f11a"
}

.fa-gamepad:before {
    content: "\f11b"
}

.fa-keyboard-o:before {
    content: "\f11c"
}

.fa-flag-o:before {
    content: "\f11d"
}

.fa-flag-checkered:before {
    content: "\f11e"
}

.fa-terminal:before {
    content: "\f120"
}

.fa-code:before {
    content: "\f121"
}

.fa-mail-reply-all:before, .fa-reply-all:before {
    content: "\f122"
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    content: "\f123"
}

.fa-location-arrow:before {
    content: "\f124"
}

.fa-crop:before {
    content: "\f125"
}

.fa-code-fork:before {
    content: "\f126"
}

.fa-chain-broken:before, .fa-unlink:before {
    content: "\f127"
}

.fa-question:before {
    content: "\f128"
}

.fa-info:before {
    content: "\f129"
}

.fa-exclamation:before {
    content: "\f12a"
}

.fa-superscript:before {
    content: "\f12b"
}

.fa-subscript:before {
    content: "\f12c"
}

.fa-eraser:before {
    content: "\f12d"
}

.fa-puzzle-piece:before {
    content: "\f12e"
}

.fa-microphone:before {
    content: "\f130"
}

.fa-microphone-slash:before {
    content: "\f131"
}

.fa-shield:before {
    content: "\f132"
}

.fa-calendar-o:before {
    content: "\f133"
}

.fa-fire-extinguisher:before {
    content: "\f134"
}

.fa-rocket:before {
    content: "\f135"
}

.fa-maxcdn:before {
    content: "\f136"
}

.fa-chevron-circle-left:before {
    content: "\f137"
}

.fa-chevron-circle-right:before {
    content: "\f138"
}

.fa-chevron-circle-up:before {
    content: "\f139"
}

.fa-chevron-circle-down:before {
    content: "\f13a"
}

.fa-html5:before {
    content: "\f13b"
}

.fa-css3:before {
    content: "\f13c"
}

.fa-anchor:before {
    content: "\f13d"
}

.fa-unlock-alt:before {
    content: "\f13e"
}

.fa-bullseye:before {
    content: "\f140"
}

.fa-ellipsis-h:before {
    content: "\f141"
}

.fa-ellipsis-v:before {
    content: "\f142"
}

.fa-rss-square:before {
    content: "\f143"
}

.fa-play-circle:before {
    content: "\f144"
}

.fa-ticket:before {
    content: "\f145"
}

.fa-minus-square:before {
    content: "\f146"
}

.fa-minus-square-o:before {
    content: "\f147"
}

.fa-level-up:before {
    content: "\f148"
}

.fa-level-down:before {
    content: "\f149"
}

.fa-check-square:before {
    content: "\f14a"
}

.fa-pencil-square:before {
    content: "\f14b"
}

.fa-external-link-square:before {
    content: "\f14c"
}

.fa-share-square:before {
    content: "\f14d"
}

.fa-compass:before {
    content: "\f14e"
}

.fa-caret-square-o-down:before, .fa-toggle-down:before {
    content: "\f150"
}

.fa-caret-square-o-up:before, .fa-toggle-up:before {
    content: "\f151"
}

.fa-caret-square-o-right:before, .fa-toggle-right:before {
    content: "\f152"
}

.fa-eur:before, .fa-euro:before {
    content: "\f153"
}

.fa-gbp:before {
    content: "\f154"
}

.fa-dollar:before, .fa-usd:before {
    content: "\f155"
}

.fa-inr:before, .fa-rupee:before {
    content: "\f156"
}

.fa-cny:before, .fa-jpy:before, .fa-rmb:before, .fa-yen:before {
    content: "\f157"
}

.fa-rouble:before, .fa-rub:before, .fa-ruble:before {
    content: "\f158"
}

.fa-krw:before, .fa-won:before {
    content: "\f159"
}

.fa-bitcoin:before, .fa-btc:before {
    content: "\f15a"
}

.fa-file:before {
    content: "\f15b"
}

.fa-file-text:before {
    content: "\f15c"
}

.fa-sort-alpha-asc:before {
    content: "\f15d"
}

.fa-sort-alpha-desc:before {
    content: "\f15e"
}

.fa-sort-amount-asc:before {
    content: "\f160"
}

.fa-sort-amount-desc:before {
    content: "\f161"
}

.fa-sort-numeric-asc:before {
    content: "\f162"
}

.fa-sort-numeric-desc:before {
    content: "\f163"
}

.fa-thumbs-up:before {
    content: "\f164"
}

.fa-thumbs-down:before {
    content: "\f165"
}

.fa-youtube-square:before {
    content: "\f166"
}

.fa-youtube:before {
    content: "\f167"
}

.fa-xing:before {
    content: "\f168"
}

.fa-xing-square:before {
    content: "\f169"
}

.fa-youtube-play:before {
    content: "\f16a"
}

.fa-dropbox:before {
    content: "\f16b"
}

.fa-stack-overflow:before {
    content: "\f16c"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-flickr:before {
    content: "\f16e"
}

.fa-adn:before {
    content: "\f170"
}

.fa-bitbucket:before {
    content: "\f171"
}

.fa-bitbucket-square:before {
    content: "\f172"
}

.fa-tumblr:before {
    content: "\f173"
}

.fa-tumblr-square:before {
    content: "\f174"
}

.fa-long-arrow-down:before {
    content: "\f175"
}

.fa-long-arrow-up:before {
    content: "\f176"
}

.fa-long-arrow-left:before {
    content: "\f177"
}

.fa-long-arrow-right:before {
    content: "\f178"
}

.fa-apple:before {
    content: "\f179"
}

.fa-windows:before {
    content: "\f17a"
}

.fa-android:before {
    content: "\f17b"
}

.fa-linux:before {
    content: "\f17c"
}

.fa-dribbble:before {
    content: "\f17d"
}

.fa-skype:before {
    content: "\f17e"
}

.fa-foursquare:before {
    content: "\f180"
}

.fa-trello:before {
    content: "\f181"
}

.fa-female:before {
    content: "\f182"
}

.fa-male:before {
    content: "\f183"
}

.fa-gittip:before, .fa-gratipay:before {
    content: "\f184"
}

.fa-sun-o:before {
    content: "\f185"
}

.fa-moon-o:before {
    content: "\f186"
}

.fa-archive:before {
    content: "\f187"
}

.fa-bug:before {
    content: "\f188"
}

.fa-vk:before {
    content: "\f189"
}

.fa-weibo:before {
    content: "\f18a"
}

.fa-renren:before {
    content: "\f18b"
}

.fa-pagelines:before {
    content: "\f18c"
}

.fa-stack-exchange:before {
    content: "\f18d"
}

.fa-arrow-circle-o-right:before {
    content: "\f18e"
}

.fa-arrow-circle-o-left:before {
    content: "\f190"
}

.fa-caret-square-o-left:before, .fa-toggle-left:before {
    content: "\f191"
}

.fa-dot-circle-o:before {
    content: "\f192"
}

.fa-wheelchair:before {
    content: "\f193"
}

.fa-vimeo-square:before {
    content: "\f194"
}

.fa-try:before, .fa-turkish-lira:before {
    content: "\f195"
}

.fa-plus-square-o:before {
    content: "\f196"
}

.fa-space-shuttle:before {
    content: "\f197"
}

.fa-slack:before {
    content: "\f198"
}

.fa-envelope-square:before {
    content: "\f199"
}

.fa-wordpress:before {
    content: "\f19a"
}

.fa-openid:before {
    content: "\f19b"
}

.fa-bank:before, .fa-institution:before, .fa-university:before {
    content: "\f19c"
}

.fa-graduation-cap:before, .fa-mortar-board:before {
    content: "\f19d"
}

.fa-yahoo:before {
    content: "\f19e"
}

.fa-google:before {
    content: "\f1a0"
}

.fa-reddit:before {
    content: "\f1a1"
}

.fa-reddit-square:before {
    content: "\f1a2"
}

.fa-stumbleupon-circle:before {
    content: "\f1a3"
}

.fa-stumbleupon:before {
    content: "\f1a4"
}

.fa-delicious:before {
    content: "\f1a5"
}

.fa-digg:before {
    content: "\f1a6"
}

.fa-pied-piper-pp:before {
    content: "\f1a7"
}

.fa-pied-piper-alt:before {
    content: "\f1a8"
}

.fa-drupal:before {
    content: "\f1a9"
}

.fa-joomla:before {
    content: "\f1aa"
}

.fa-language:before {
    content: "\f1ab"
}

.fa-fax:before {
    content: "\f1ac"
}

.fa-building:before {
    content: "\f1ad"
}

.fa-child:before {
    content: "\f1ae"
}

.fa-paw:before {
    content: "\f1b0"
}

.fa-spoon:before {
    content: "\f1b1"
}

.fa-cube:before {
    content: "\f1b2"
}

.fa-cubes:before {
    content: "\f1b3"
}

.fa-behance:before {
    content: "\f1b4"
}

.fa-behance-square:before {
    content: "\f1b5"
}

.fa-steam:before {
    content: "\f1b6"
}

.fa-steam-square:before {
    content: "\f1b7"
}

.fa-recycle:before {
    content: "\f1b8"
}

.fa-automobile:before, .fa-car:before {
    content: "\f1b9"
}

.fa-cab:before, .fa-taxi:before {
    content: "\f1ba"
}

.fa-tree:before {
    content: "\f1bb"
}

.fa-spotify:before {
    content: "\f1bc"
}

.fa-deviantart:before {
    content: "\f1bd"
}

.fa-soundcloud:before {
    content: "\f1be"
}

.fa-database:before {
    content: "\f1c0"
}

.fa-file-pdf-o:before {
    content: "\f1c1"
}

.fa-file-word-o:before {
    content: "\f1c2"
}

.fa-file-excel-o:before {
    content: "\f1c3"
}

.fa-file-powerpoint-o:before {
    content: "\f1c4"
}

.fa-file-image-o:before, .fa-file-photo-o:before, .fa-file-picture-o:before {
    content: "\f1c5"
}

.fa-file-archive-o:before, .fa-file-zip-o:before {
    content: "\f1c6"
}

.fa-file-audio-o:before, .fa-file-sound-o:before {
    content: "\f1c7"
}

.fa-file-movie-o:before, .fa-file-video-o:before {
    content: "\f1c8"
}

.fa-file-code-o:before {
    content: "\f1c9"
}

.fa-vine:before {
    content: "\f1ca"
}

.fa-codepen:before {
    content: "\f1cb"
}

.fa-jsfiddle:before {
    content: "\f1cc"
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-ring:before, .fa-life-saver:before, .fa-support:before {
    content: "\f1cd"
}

.fa-circle-o-notch:before {
    content: "\f1ce"
}

.fa-ra:before, .fa-rebel:before, .fa-resistance:before {
    content: "\f1d0"
}

.fa-empire:before, .fa-ge:before {
    content: "\f1d1"
}

.fa-git-square:before {
    content: "\f1d2"
}

.fa-git:before {
    content: "\f1d3"
}

.fa-hacker-news:before, .fa-y-combinator-square:before, .fa-yc-square:before {
    content: "\f1d4"
}

.fa-tencent-weibo:before {
    content: "\f1d5"
}

.fa-qq:before {
    content: "\f1d6"
}

.fa-wechat:before, .fa-weixin:before {
    content: "\f1d7"
}

.fa-paper-plane:before, .fa-send:before {
    content: "\f1d8"
}

.fa-paper-plane-o:before, .fa-send-o:before {
    content: "\f1d9"
}

.fa-history:before {
    content: "\f1da"
}

.fa-circle-thin:before {
    content: "\f1db"
}

.fa-header:before {
    content: "\f1dc"
}

.fa-paragraph:before {
    content: "\f1dd"
}

.fa-sliders:before {
    content: "\f1de"
}

.fa-share-alt:before {
    content: "\f1e0"
}

.fa-share-alt-square:before {
    content: "\f1e1"
}

.fa-bomb:before {
    content: "\f1e2"
}

.fa-futbol-o:before, .fa-soccer-ball-o:before {
    content: "\f1e3"
}

.fa-tty:before {
    content: "\f1e4"
}

.fa-binoculars:before {
    content: "\f1e5"
}

.fa-plug:before {
    content: "\f1e6"
}

.fa-slideshare:before {
    content: "\f1e7"
}

.fa-twitch:before {
    content: "\f1e8"
}

.fa-yelp:before {
    content: "\f1e9"
}

.fa-newspaper-o:before {
    content: "\f1ea"
}

.fa-wifi:before {
    content: "\f1eb"
}

.fa-calculator:before {
    content: "\f1ec"
}

.fa-paypal:before {
    content: "\f1ed"
}

.fa-google-wallet:before {
    content: "\f1ee"
}

.fa-cc-visa:before {
    content: "\f1f0"
}

.fa-cc-mastercard:before {
    content: "\f1f1"
}

.fa-cc-discover:before {
    content: "\f1f2"
}

.fa-cc-amex:before {
    content: "\f1f3"
}

.fa-cc-paypal:before {
    content: "\f1f4"
}

.fa-cc-stripe:before {
    content: "\f1f5"
}

.fa-bell-slash:before {
    content: "\f1f6"
}

.fa-bell-slash-o:before {
    content: "\f1f7"
}

.fa-trash:before {
    content: "\f1f8"
}

.fa-copyright:before {
    content: "\f1f9"
}

.fa-at:before {
    content: "\f1fa"
}

.fa-eyedropper:before {
    content: "\f1fb"
}

.fa-paint-brush:before {
    content: "\f1fc"
}

.fa-birthday-cake:before {
    content: "\f1fd"
}

.fa-area-chart:before {
    content: "\f1fe"
}

.fa-pie-chart:before {
    content: "\f200"
}

.fa-line-chart:before {
    content: "\f201"
}

.fa-lastfm:before {
    content: "\f202"
}

.fa-lastfm-square:before {
    content: "\f203"
}

.fa-toggle-off:before {
    content: "\f204"
}

.fa-toggle-on:before {
    content: "\f205"
}

.fa-bicycle:before {
    content: "\f206"
}

.fa-bus:before {
    content: "\f207"
}

.fa-ioxhost:before {
    content: "\f208"
}

.fa-angellist:before {
    content: "\f209"
}

.fa-cc:before {
    content: "\f20a"
}

.fa-ils:before, .fa-shekel:before, .fa-sheqel:before {
    content: "\f20b"
}

.fa-meanpath:before {
    content: "\f20c"
}

.fa-buysellads:before {
    content: "\f20d"
}

.fa-connectdevelop:before {
    content: "\f20e"
}

.fa-dashcube:before {
    content: "\f210"
}

.fa-forumbee:before {
    content: "\f211"
}

.fa-leanpub:before {
    content: "\f212"
}

.fa-sellsy:before {
    content: "\f213"
}

.fa-shirtsinbulk:before {
    content: "\f214"
}

.fa-simplybuilt:before {
    content: "\f215"
}

.fa-skyatlas:before {
    content: "\f216"
}

.fa-cart-plus:before {
    content: "\f217"
}

.fa-cart-arrow-down:before {
    content: "\f218"
}

.fa-diamond:before {
    content: "\f219"
}

.fa-ship:before {
    content: "\f21a"
}

.fa-user-secret:before {
    content: "\f21b"
}

.fa-motorcycle:before {
    content: "\f21c"
}

.fa-street-view:before {
    content: "\f21d"
}

.fa-heartbeat:before {
    content: "\f21e"
}

.fa-venus:before {
    content: "\f221"
}

.fa-mars:before {
    content: "\f222"
}

.fa-mercury:before {
    content: "\f223"
}

.fa-intersex:before, .fa-transgender:before {
    content: "\f224"
}

.fa-transgender-alt:before {
    content: "\f225"
}

.fa-venus-double:before {
    content: "\f226"
}

.fa-mars-double:before {
    content: "\f227"
}

.fa-venus-mars:before {
    content: "\f228"
}

.fa-mars-stroke:before {
    content: "\f229"
}

.fa-mars-stroke-v:before {
    content: "\f22a"
}

.fa-mars-stroke-h:before {
    content: "\f22b"
}

.fa-neuter:before {
    content: "\f22c"
}

.fa-genderless:before {
    content: "\f22d"
}

.fa-facebook-official:before {
    content: "\f230"
}

.fa-pinterest-p:before {
    content: "\f231"
}

.fa-whatsapp:before {
    content: "\f232"
}

.fa-server:before {
    content: "\f233"
}

.fa-user-plus:before {
    content: "\f234"
}

.fa-user-times:before {
    content: "\f235"
}

.fa-bed:before, .fa-hotel:before {
    content: "\f236"
}

.fa-viacoin:before {
    content: "\f237"
}

.fa-train:before {
    content: "\f238"
}

.fa-subway:before {
    content: "\f239"
}

.fa-medium:before {
    content: "\f23a"
}

.fa-y-combinator:before, .fa-yc:before {
    content: "\f23b"
}

.fa-optin-monster:before {
    content: "\f23c"
}

.fa-opencart:before {
    content: "\f23d"
}

.fa-expeditedssl:before {
    content: "\f23e"
}

.fa-battery-4:before, .fa-battery-full:before {
    content: "\f240"
}

.fa-battery-3:before, .fa-battery-three-quarters:before {
    content: "\f241"
}

.fa-battery-2:before, .fa-battery-half:before {
    content: "\f242"
}

.fa-battery-1:before, .fa-battery-quarter:before {
    content: "\f243"
}

.fa-battery-0:before, .fa-battery-empty:before {
    content: "\f244"
}

.fa-mouse-pointer:before {
    content: "\f245"
}

.fa-i-cursor:before {
    content: "\f246"
}

.fa-object-group:before {
    content: "\f247"
}

.fa-object-ungroup:before {
    content: "\f248"
}

.fa-sticky-note:before {
    content: "\f249"
}

.fa-sticky-note-o:before {
    content: "\f24a"
}

.fa-cc-jcb:before {
    content: "\f24b"
}

.fa-cc-diners-club:before {
    content: "\f24c"
}

.fa-clone:before {
    content: "\f24d"
}

.fa-balance-scale:before {
    content: "\f24e"
}

.fa-hourglass-o:before {
    content: "\f250"
}

.fa-hourglass-1:before, .fa-hourglass-start:before {
    content: "\f251"
}

.fa-hourglass-2:before, .fa-hourglass-half:before {
    content: "\f252"
}

.fa-hourglass-3:before, .fa-hourglass-end:before {
    content: "\f253"
}

.fa-hourglass:before {
    content: "\f254"
}

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
    content: "\f255"
}

.fa-hand-paper-o:before, .fa-hand-stop-o:before {
    content: "\f256"
}

.fa-hand-scissors-o:before {
    content: "\f257"
}

.fa-hand-lizard-o:before {
    content: "\f258"
}

.fa-hand-spock-o:before {
    content: "\f259"
}

.fa-hand-pointer-o:before {
    content: "\f25a"
}

.fa-hand-peace-o:before {
    content: "\f25b"
}

.fa-trademark:before {
    content: "\f25c"
}

.fa-registered:before {
    content: "\f25d"
}

.fa-creative-commons:before {
    content: "\f25e"
}

.fa-gg:before {
    content: "\f260"
}

.fa-gg-circle:before {
    content: "\f261"
}

.fa-tripadvisor:before {
    content: "\f262"
}

.fa-odnoklassniki:before {
    content: "\f263"
}

.fa-odnoklassniki-square:before {
    content: "\f264"
}

.fa-get-pocket:before {
    content: "\f265"
}

.fa-wikipedia-w:before {
    content: "\f266"
}

.fa-safari:before {
    content: "\f267"
}

.fa-chrome:before {
    content: "\f268"
}

.fa-firefox:before {
    content: "\f269"
}

.fa-opera:before {
    content: "\f26a"
}

.fa-internet-explorer:before {
    content: "\f26b"
}

.fa-television:before, .fa-tv:before {
    content: "\f26c"
}

.fa-contao:before {
    content: "\f26d"
}

.fa-500px:before {
    content: "\f26e"
}

.fa-amazon:before {
    content: "\f270"
}

.fa-calendar-plus-o:before {
    content: "\f271"
}

.fa-calendar-minus-o:before {
    content: "\f272"
}

.fa-calendar-times-o:before {
    content: "\f273"
}

.fa-calendar-check-o:before {
    content: "\f274"
}

.fa-industry:before {
    content: "\f275"
}

.fa-map-pin:before {
    content: "\f276"
}

.fa-map-signs:before {
    content: "\f277"
}

.fa-map-o:before {
    content: "\f278"
}

.fa-map:before {
    content: "\f279"
}

.fa-commenting:before {
    content: "\f27a"
}

.fa-commenting-o:before {
    content: "\f27b"
}

.fa-houzz:before {
    content: "\f27c"
}

.fa-vimeo:before {
    content: "\f27d"
}

.fa-black-tie:before {
    content: "\f27e"
}

.fa-fonticons:before {
    content: "\f280"
}

.fa-reddit-alien:before {
    content: "\f281"
}

.fa-edge:before {
    content: "\f282"
}

.fa-credit-card-alt:before {
    content: "\f283"
}

.fa-codiepie:before {
    content: "\f284"
}

.fa-modx:before {
    content: "\f285"
}

.fa-fort-awesome:before {
    content: "\f286"
}

.fa-usb:before {
    content: "\f287"
}

.fa-product-hunt:before {
    content: "\f288"
}

.fa-mixcloud:before {
    content: "\f289"
}

.fa-scribd:before {
    content: "\f28a"
}

.fa-pause-circle:before {
    content: "\f28b"
}

.fa-pause-circle-o:before {
    content: "\f28c"
}

.fa-stop-circle:before {
    content: "\f28d"
}

.fa-stop-circle-o:before {
    content: "\f28e"
}

.fa-shopping-bag:before {
    content: "\f290"
}

.fa-shopping-basket:before {
    content: "\f291"
}

.fa-hashtag:before {
    content: "\f292"
}

.fa-bluetooth:before {
    content: "\f293"
}

.fa-bluetooth-b:before {
    content: "\f294"
}

.fa-percent:before {
    content: "\f295"
}

.fa-gitlab:before {
    content: "\f296"
}

.fa-wpbeginner:before {
    content: "\f297"
}

.fa-wpforms:before {
    content: "\f298"
}

.fa-envira:before {
    content: "\f299"
}

.fa-universal-access:before {
    content: "\f29a"
}

.fa-wheelchair-alt:before {
    content: "\f29b"
}

.fa-question-circle-o:before {
    content: "\f29c"
}

.fa-blind:before {
    content: "\f29d"
}

.fa-audio-description:before {
    content: "\f29e"
}

.fa-volume-control-phone:before {
    content: "\f2a0"
}

.fa-braille:before {
    content: "\f2a1"
}

.fa-assistive-listening-systems:before {
    content: "\f2a2"
}

.fa-american-sign-language-interpreting:before, .fa-asl-interpreting:before {
    content: "\f2a3"
}

.fa-deaf:before, .fa-deafness:before, .fa-hard-of-hearing:before {
    content: "\f2a4"
}

.fa-glide:before {
    content: "\f2a5"
}

.fa-glide-g:before {
    content: "\f2a6"
}

.fa-sign-language:before, .fa-signing:before {
    content: "\f2a7"
}

.fa-low-vision:before {
    content: "\f2a8"
}

.fa-viadeo:before {
    content: "\f2a9"
}

.fa-viadeo-square:before {
    content: "\f2aa"
}

.fa-snapchat:before {
    content: "\f2ab"
}

.fa-snapchat-ghost:before {
    content: "\f2ac"
}

.fa-snapchat-square:before {
    content: "\f2ad"
}

.fa-pied-piper:before {
    content: "\f2ae"
}

.fa-first-order:before {
    content: "\f2b0"
}

.fa-yoast:before {
    content: "\f2b1"
}

.fa-themeisle:before {
    content: "\f2b2"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.bx-wrapper {
    position: relative;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.bx-wrapper img {
    max-width: 100%;
    display: block
}

.bxslider {
    margin: 0;
    padding: 0
}

.bx-viewport {
    -webkit-transform: translatez(0)
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    position: absolute;
    bottom: -30px;
    width: 100%
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

.bx-wrapper .bx-pager {
    font-size: .85em;
    font-family: Arial, serif;
    font-weight: 700;
    color: #666;
    padding-top: 20px
}

.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager-item {
    display: inline-block
}

.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(images/controls.png) 0 -32px no-repeat
}

.bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover {
    background-position: 0 0
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(images/controls.png) -43px -32px no-repeat
}

.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover {
    background-position: -43px 0
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus, .bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus, .bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, .75);
    width: 100%
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial, serif;
    display: block;
    font-size: .85em;
    padding: 10px
}

* {
    outline: 0
}

li, ul {
    padding: 0;
    margin: 0
}

.slide-big, .slide-small {
    top: 50%;
    font-weight: 300;
    padding: 0 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center
}

.slide-big-page, .slide-small-page {
    top: 50%;
    font-weight: 300;
    padding: 0 20px;
    width: 100%;
    text-align: left
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff
}

div, li {
    position: relative
}

.bx-controls, .header, .logo, .nav, .slide-big, .slide-small, .social {
    position: absolute
}

.slide-big-page, .slide-small-page, .social {
    position: absolute
}

a {
    color: #00467f;
    text-decoration: none
}

a:hover {
    color: #2B80B3
}

.orang-btn, .orang-btn:hover, .slide-big {
    color: #fff
}

.slide-big-page {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.wp-small {
    max-width: 1200px;
    margin: 0 auto
}

.slide-big {
    left: 0;
    font-size: 2.5em
}

.slide-small {
    color: #fff;
    font-size: 18px;
    margin-top: 4em
}

.slide-big-page {
    left: 20%;
    font-size: 2.5em
}

.slide-small-page {
    color: #000;
    font-size: 18px;
    margin-top: 4em;
    left: 20%;
    width: 30%
}

.bx-controls {
    right: 30px;
    top: 40%
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 10px
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #fff
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: 0 0;
    margin: 0 auto
}

.blue-btn:hover, .orang-btn:hover {
    box-shadow: inset 0 0 5px #7B7A7A
}

.header {
    background: url(images/header-bg.png) no-repeat;
    height: 157px;
    background-size: 100% 157px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2
}

.logo {
    background: url(images/logo.jpg) no-repeat;
    width: 129px;
    height: 110px;
    display: block;
    top: 15px;
    left: 54px
}

.blue-btn, .half-col, .orang-btn, .quarter-col, .rainbow-block li, .social a, .three-quarter-col, .trans-btn {
    display: inline-block
}

.social {
    top: 34px;
    left: 50%;
    margin-left: -280px
}

.nav {
    top: 28px;
    right: 20px;
    font-size: 30px
}

.social a {
    margin: 0 12px;
    font-size: 18px
}

.nav > a {
    margin: 0 5px
}

.orang-btn {
    font-size: 14px;
    background: #f6921e;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    top: -5px
}

.clist-item b, .clist-text b {
    font-weight: 400;
    text-transform: uppercase
}

.half-col {
    width: 49%
}

.quarter-col {
    width: 24%
}

.three-quarter-col {
    width: 74%
}

.clist {
    margin: 40px 0
}

.clist li {
    cursor: pointer
}

.clist-icon {
    float: left;
    font-size: 50px;
    border: 1px solid #d9e3ec;
    color: #aaa;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 95px;
    border-radius: 5px;
    margin: 0 30px 20px 0
}

.clist-text {
    margin-left: 130px;
    padding: 10px 0 0
}

.clist-text b {
    font-size: 20px
}

.clist-text hr {
    color: #00467f;
    background-color: #00467f;
    border: none;
    height: 2px;
    width: 30px;
    text-align: left;
    margin: 3px 0
}

.count li, .footer .fa, .footer-copy, .rainbow-block {
    text-align: center
}

.clist-text p {
    font-size: 14px;
    color: #555;
    line-height: 22px;
    margin: 8px 0
}

.clist li.active .clist-icon, .clist li:hover .clist-icon {
    color: #00467f;
    border-color: #00467f
}

.back-back-block {
    background: #e9eaea;
}

.clist-item {
    width: 97%
}

.clist-item > div {
    padding-top: 100%;
    background: url(images/girlblue.jpg) no-repeat;
    background-size: 100% 100%;
    top: -70px
}

.clist-item > div > div {
    position: absolute;
    top: 20%;
    left: 0;
    padding: 0 30px
}

.clist-item b {
    font-size: 30px;
    color: #fff
}

.clist-item hr {
    background-color: #f7c61e;
    height: 3px;
    border: none;
    color: #f7c61e;
    margin: 10px 0 30px;
    width: 55px
}

.clist-item p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    opacity: .8;
    margin-bottom: 50px
}

.trans-btn {
    border: 2px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase
}

.trans-btn:hover {
    color: #ddd;
    border-color: #ddd
}

.trans-btn2 {
    border: 2px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase
}

.trans-btn2:hover {
    color: #ddd;
    border-color: #ddd
}

.rainbow-block {
    background: #a8adad;
    padding: 40px;
    text-align: center;
}

.r1 {
    background-image: url(images/b1.jpg)
}

.r2 {
    background: url(images/b2.jpg) -1px 0;
}

.r3 {
    background-image: url(images/b3.jpg)
}

.r4 {
    background-image: url(images/b4.jpg)
}

.rainbow-block li {
    width: 21%;
    margin: 0 2% 4%
}

.rainbow-block li > div {
    padding-top: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s ease-in-out;
    transform: scale(1, 1)
}

.rainbow-block li:hover > div {
    background-size: 110% 110%
}

.rainbow-block li > div > div {
    position: absolute;
    top: 24%;
    left: 0
}

.rainbow-block li:nth-child(1) {
    margin-left: 0
}

.rainbow-block li:nth-child(4) {
    margin-right: 0
}

.rainbow-block p {
    color: #fff;
    text-transform: uppercase;
    padding: 0 15px 19px;
    font-size: 15px
}

.blue-btn {
    font-size: 14px;
    background: #00467f;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    position: relative;
    top: -5px
}

.blue-btn:hover {
    color: #fff
}

.back-block {
    padding: 70px 0 20px;
    z-index: 1;
    background: #e9eaea;
}

.big-img {
    min-height: 10px
}

.big-img img {
    border: 10px solid #fff;
    box-shadow: 0 0 15px #999;
    position: absolute;
    left: 0;
    top: 0;
    width: 90%
}

.backthe b {
    font-size: 30px;
    color: #00467f
}

.backthe p {
    color: #666;
    font-size: 18px;
    line-height: 33px
}

.iii {
    background: url(images/foot.jpg) no-repeat;
    background-size: 100% auto;
    height: 300px
}

.count {
    display: table;
    width: 100%;
    padding-top: 70px;
    margin-bottom: 50px
}

.count li {
    display: table-cell;
    width: 30%
}

.count b {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase
}

.lll li, .title {
    font-weight: 700;
    text-transform: uppercase
}

.count hr {
    background: #f6921e;
    height: 2px;
    border: none;
    width: 50px;
    margin: 13px auto
}

.count span {
    color: #f6921e;
    font-size: 30px;
    text-transform: uppercase
}

.center-btn {
    margin: 0 auto;
    display: none;
}

.gray {
    padding: 50px 0;
    background: #262626
}

.mail-block {
    background: url(images/em.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 0 10px;
    padding: 30px 15px
}

.mail-form {
    display: table;
    width: 100%;
    padding-top: 40px
}

.mail-form > div {
    display: table-cell
}

.mail-form > div:nth-child(1) {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 20px;
    width: 40%
}

.mail-form > div:nth-child(2) {
    width: 50%
}

.white-btn {
    border: none;
    background: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 15px;
    position: relative;
    top: -7px;
    cursor: pointer
}

.mail-form input[type=text] {
    width: 90%;
    font-size: 13px;
    padding: 10px 20px;
    position: relative;
    top: -7px;
    border: 1px solid #fff;
    background: #f28d1c;
    color: #fff;
    text-transform: uppercase
}

.mail {
    background: url(images/mail.png) no-repeat;
    width: 89px;
    height: 89px;
    display: block;
    position: absolute;
    top: -44px;
    left: 50%;
    margin-left: -44px
}

.comm, .footer .fa, .lll li, .logo2, .third-block {
    display: inline-block
}

.comm, .lll a, .logo2, .office {
    position: relative
}

.footer-bg {
    clear: both;
    background: url(images/ffooter.jpg) center top no-repeat #faf8f5;
    height: 290px;
    padding: 70px 10px 0;
    background-size: cover;
}

.footer-copy {
    background: #000;
    padding: 15px 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase
}

.third-block {
    width: 32%
}

.footer .fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 10px
}

.footer .fa-facebook {
    background: #3a5795
}

.footer .fa-twitter {
    background: #55acee
}

.footer .fa-pinterest-p {
    background: #cb2027
}

.footer .fa-instagram {
    background: #6a453b
}

.footer .fa-linkedin {
    background: #0177b5
}

.title {
    font-size: 18px;
    font-style: italic
}

.title hr {
    background: #f7941e;
    height: 2px;
    border: none;
    margin: 8px auto 50px 0;
    width: 50px
}

.lll li, .office .title {
    margin-bottom: 15px;
    font-weight: bold;
}

.lll li {
    color: #aaa;
    width: 49%
}

.lll a {
    font-weight: bold;
    color: #000;
    top: 0;
    font-size: 14px
}

.footer a:hover {
    text-decoration: underline
}

.logo2 {
    background: url(images/logo2.png) no-repeat;
    width: 95px;
    height: 81px;
    top: -55px
}

.comm {
    background: url(images/comyounity.png) no-repeat;
    width: 145px;
    height: 34px;
    background-size: 100% auto;
    top: 11px;
}

.office {
    top: -25px
}

.office .address {
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding-top: 18px;
}

.bx-wrapper img {
    width: 100%
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 0;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    /* float: left; */
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    /* border-color: #999; */
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    /*overflow: hidden;*/
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

.from-serach {
    display: table;
    margin: 0 auto 60px;
    width: 60%;
    padding: 40px;
    background: #f4f2f1;
    top: -45px;
    box-shadow: 0 0 5px #ccc;
}

.tab-titles {
    background: #fff;
    display: table;
    box-shadow: inset 0 0 5px #ccc;
    margin-bottom: 10px;
}

.tab-titles a {
    display: inline-block;
    padding: 13px 70px;
    margin: 1px;
    color: #777;
    /* float: left; */
}

.tab-titles a.active {
    background: #f6921e !important;
    color: #fff;
}

.tab-titles a:hover {
    background: #fff;
}

.tab-contents > div {
    display: none;
}

.tab-contents > div.active {
    display: block;
}

.tab-titles a:nth-child(1) {
    margin-right: 0;
    /* margin: 0; */
}

.tab-titles a:nth-child(2) {
    margin-left: 1px;
}

.sel-input {
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding: 0 18px;
    font-size: 14px;
}

.sel-btn {
    background: #f6921e;
    color: #fff;
    padding: 13px 70px;
    display: table;
    margin: 15px 0 0 auto;
}

.sel-btn:hover {
    color: #fff;
    box-shadow: inset 0 0 5px #666;
}

.search-result {
    top: -40px;
}

.search-result table {
    width: 100%;
}

.search-result thead tr th {
    text-align: left;
    padding: 10px 20px;
}

.search-result tbody tr td {
    padding: 10px 20px;
    font-size: 14px;
    /* border-bottom: 1px solid #eee; */
}

.search-result tbody tr:nth-child(2n) td {

}

.search-result tbody tr:nth-child(2n+1) td {
    background: #f4f2f1;
    border-bottom: 1px solid #eee;
}

.internal-grid {
    padding: 20px 0;
    transition: all .3s ease-in-out;
}

.internal-grid > div {
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 15px;
    float: left;
    padding: 15px;
    height: 315px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    transition: all .3s ease-in-out;
    transform: scale(1, 1);
}

.internal-grid > div:hover {
    background-size: 110% 110%

}

.white-border {
    height: 100%;
    box-sizing: border-box;
    border: 3px solid #fff;
}

.text-w {
    position: absolute;
    bottom: 80px;
    left: 0;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.text-w span {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-weight: bold;
}

.aaa {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    margin: 10px 0 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #000;
}

.c2 {
    width: 389px;
    margin-right: 15px;
}

.c3 {
    width: 592px;
    margin-right: 15px;
}

.c4 {
    width: 794px;
    margin-right: 15px;
}

.c2.bl2 {
    margin-right: 0 !important;
}


.bl1 .aaa {
    background: #f00659;
    border: 2px solid #fff;
}


.bl2 .aaa {
    background: #51aa44;
}

.bl3 .aaa {
    background: #003062;
}

.bl4 .aaa {
    background: #ef0c0c;
}

.bl5 {
    margin-right: 0;
}

.bl5 .aaa {
    background: #000000;
}

.bl6 .aaa {
    background: #51aa44;
}

.bl7 {
    margin-right: 0;
}

.bl7 .aaa {
    background: #f99400;
}

.white-border .text-w {
    bottom: 65px;
    text-align: left;
}

.aaa:hover {
    color: #ddd;
}

@media screen and (max-width: 1599px) {
    .count {
        margin-bottom: 20px
    }

    .iii {
        background-size: auto 100%
    }
}

@media screen and (max-width: 1200px) {
    .social {
        left: 40%
    }
}

@media screen and (max-width: 1000px) {
    .clist-item p, .mail-form > div:nth-child(1) {
        font-size: 14px
    }

    .comm, .rainbow-block li:nth-child(3) {
        margin-left: 0
    }

    .clist-item > div {
        top: 40px
    }

    .clist-item p {
        margin-bottom: 20px
    }

    .rainbow-block li {
        width: 43%
    }

    .rainbow-block li:nth-child(2) {
        margin-right: 0
    }

    .footer-bg {
        height: auto
    }

    .social {
        display: none
    }

    .bx-controls {
        top: auto;
        bottom: 20%
    }
}

@media screen and (max-width: 710px) {
    .back-block .quarter-col, .blue-block .half-col:nth-child(1), .count-block .quarter-col {
        display: none
    }

    .center-btn {
        display: inline-block;
    }

    .mail-block {
        background-size: auto 100%
    }

    .blue-block .half-col {
        width: 100%;
        padding: 0 10px
    }

    .rainbow-block li {
        width: 99%;
        margin-left: 0;
        margin-right: 0
    }

    .rainbow-block p {
        font-size: 23px
    }

    .back-block .three-quarter-col {
        width: 100%;
        padding: 0 20px
    }

    .count-block .three-quarter-col {
        width: 100%;
        text-align: center;
    }

    .count {
        margin-bottom: 40px
    }

    .gray {
        padding-left: 10px;
        padding-right: 10px
    }

    .mail-form {
        display: block
    }

    .mail-form > div:nth-child(1) {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 15px
    }

    .mail-form > div:nth-child(2) {
        width: 70%
    }

    .mail-form > div:nth-child(3) {
        width: 25%
    }

    .nav .orang-btn {
        display: none
    }

    .logo {
        width: 48px;
        background-size: 100%;
        height: 40px;
        left: 13px;
        top: 5px
    }

    .nav {
        top: 12px;
        font-size: 25px
    }

    .header {
        background: #fff;
        height: 50px;
        position: fixed;
        box-shadow: 0 0 5px #999
    }

    .slide-big {
        font-size: 20px;
        top: 40%
    }

    .slide-small {
        font-size: 12px;
        padding: 0 50px;
        top: 40%
    }

    .footer > div {
        display: block;
        width: 100%
    }

    .footer-bg {
        background-size: auto 100%
    }

    .title hr {
        margin-bottom: 10px
    }

    .title {
        margin-top: 10px
    }

    .count b {
        display: block;
        min-height: 35px
    }

    .tab-titles a {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 0 !important;
    }

    .sel-btn {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .search-result tbody tr td, .search-result thead tr th {
        padding: 5px 1px;
        font-size: 13px;
    }

    .from-serach {
        top: -10px;
    }
}

@media screen and (max-width: 470px) {
    a[href^=tel] {
        text-decoration: none;
        color: #646464
    }

    .count li {
        padding: 0 5px
    }

    .comm {
        margin-left: 35px
    }

    .footer-bg {
        padding-bottom: 20px
    }

    .office .address {
        padding-top: 0;
    }
}

.partner-bar {
    background: #f6f6f6;
    width: 100%;
    min-height: 180px;
    text-align: center;
}

.partner-bar a {
    background-color: #F4F4F4;
}

.partner-bar h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
    color: #2e5a81;
}

.events-btn-cont {
    text-align: center;
    padding: 35px 0 35px 0;
}

.inner-nav {
    background: #51aa45;
    margin-top: 30px;
    padding-top: 27px;
    padding-bottom: 35px;
}

.inner-nav-column {
    float: left;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.inner-page-content {
    float: left;
    margin-left: 43px;
    width: 62%;
    padding-top: 10px;
}

.inner-page-content img {
    width: 100%;
}

.inner-page-content p {
    line-height: 25px;
}

.inner-nav li {
    cursor: pointer;
    background: url(images/ellipse.png) no-repeat 34px 19px;
    padding: 17px 30px 17px 66px;
}

.inner-nav li:hover, .inner-nav li.open {
    background-color: #3a882f;
}

.inner-nav li ul {

}

.inner-nav li ul li {
    background: none;
    padding-left: 0;
}

.inner-nav li.open li:hover a {
    color: #ddd;
}

.f14 {
    font-size: 14px;
}

.numlist {
    padding: 0 0 0 18px;
}

.numlist li {
    list-style: decimal;
}

.inner-nav li a {
    color: #fff;
    font-weight: bold;
}

.spanbtn {
    cursor: pointer;
    padding: 15px 0 15px 20px;
    border-top: 1px solid #dddddd;
    background: url(images/arrow.png) right top 8px no-repeat;
}

.spanbtn a {
    font-size: 20px;
    color: #455d8f;
    font-weight: bold;
}

.spanbtn:hover {
    background-color: #f9f9f9;
}

.spanbtn-cont {
    border-bottom: 1px solid #dddddd;
    margin-top: 28px;
    margin-bottom: 28px;
}

.megagrid {
    width: 100%;
}

.gridrow {
    clear: both;
    text-align: center;
}

.gridbox1 {
    float: left;
    width: 57%;
    margin: 5px;
    background: red url(images/grid1.jpg);
    background-size: cover;
}

.gridbox2 {
    float: left;
    width: 41%;
    margin: 5px;
    background: red url(images/grid2.jpg);
    background-size: cover;
}

.gridbox3 {
    float: left;
    background: red;
    width: 31%;
    margin: 5px;
}

.gridbox4 {
    float: left;
    background: red;
    width: 31%;
    margin: 5px;
}

.gridbox5 {
    float: left;
    background: red;
    width: 31%;
    margin: 5px;
}

.gridbox6 {
    float: left;
    background: red;
    width: 47%;
    margin: 5px;
}

.gridbox7 {
    float: left;
    background: red;
    width: 47%;
    margin: 5px;
}

.rainbow-block2 li {
    width: 29%;
}

.rainbow-block2 li > div {
    padding-top: 100%;
    background-size: 100% 100%;
    background: no-repeat center center;
    transition: all .3s ease-in-out;
    transform: scale(1, 1)
}

.rainbow-block2 li:hover > div {
    background-size: 110% 110%
}

.rainbow-block2 li > div > div {
    position: absolute;
    top: 24%;
    left: 0
}

.rainbow-block2 p {
    color: #fff;
    text-transform: uppercase;
    padding: 0 15px 19px;
    font-size: 15px
}

.rainbow-block2 {
    padding: 40px
}

.rainbow-block2 {
    text-align: center
}

.rainbow-block2 li {
    display: inline-block;
    margin: 7px;
}

.r5 {
    background-image: url(images/grid1.jpg)
}

.r6 {
    background-image: url(images/b4.jpg)
}

.r7 {
    background-image: url(images/b4.jpg)
}

@media screen and (max-width: 710px) {
    .slide-big-page {
        font-size: 16px;
        top: 53%;
        left: 0;
    }

    .slide-small-page {
        font-size: 10px;
        top: 30%;
        left: 0;
        width: auto;
        padding: 0 0 0 20px;

    }

    .inner-nav-column {
        width: 100%;
    }

    .inner-page-content {
        width: 100%;
        margin: 0;
        padding: 30px;
    }

    .events-btn-cont {
        padding-bottom: 0;
    }

}

@media screen and (max-width: 472px) {

    .events-btn-cont img {
        width: 50%;
    }
}

@media screen and (max-width: 1072px) {
    .slide-big-page {
        font-size: 16px;
        top: 53%;
        left: 0;
    }

    .slide-small-page {
        font-size: 10px;
        top: 30%;
        left: 0;
        width: auto;
        padding: 7px 0 0 20px;
    }
}

@media screen and (max-width: 1215px) {

    .internal-grid {
        width: 794px;
        margin: 0 auto;
    }

    .internal-grid > div.bl1 {
        float: none;
        margin-right: 0;
    }

    .internal-grid > div.bl2 {
        margin-right: 15px;
    }

    .internal-grid > div.bl3 {
        margin-right: 0;
    }

    .internal-grid > div.bl4 {

    }

    .internal-grid > div.bl5 {

    }

    .internal-grid > div.bl6 {
        width: 389px;
    }

    .internal-grid > div.bl7 {
        width: 389px;
    }
}

@media screen and (max-width: 710px) {
    .internal-grid > div {
        display: block !important;
        width: 100% !important;
        background-size: cover;
    }

    .internal-grid > div:hover {
        background-size: cover;
    }

    .internal-grid {
        width: auto;
    }

    .white-border .text-w {
        text-align: center;
    }
}
.body-container {
    margin-top: 150px;
}

.page-content {
    margin-top: 50px;
    margin-bottom: 50px;
}