﻿@using Cms.Common.Extension
@using Cms.DataAccess.Entities.Uploader
@model Cms.ViewModels.TagModel.TagsListViewModel

@{
    ViewBag.Title = "Tags";
    Layout = "~/Areas/Admin/Views/Shared/_ThemeLayout.cshtml";
}


<h1>
    @ViewBag.Title <small>manager</small>
</h1>

<div class="row" data-bind="with: catModel">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 m-b-20 form-inline">
                        <input type="text" class="form-control small" placeholder="title" data-bind="textInput: add.title">
                        <div class="btn-group">
                            <button id="table-edit_new" class="btn btn-danger" data-bind="click: add.add">
                                Add <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-6 filter-left">
                        <div id="table-editable_filter" class="dataTables_filter">
                            <label>
                                <input data-bind="textInput: paged.searchForm.query" type="search" class="form-control" aria-controls="table-editable" placeholder="Search a tag...">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 table-responsive table-red">
                        <table class="table table-striped table-hover dataTable" id="table-editable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th class="text-center" style="width: 300px;">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: paged.filtered">
                                <tr>
                                    <td>
                                        <span data-bind="text: Title, visible: Id() != $root.catModel.edit.currentId()"></span>
                                        <input type="text" data-bind="textInput: Title, visible: Id() == $root.catModel.edit.currentId()" class="form-control" />
                                    </td>
                                    <td class="text-right">
                                        <a class="edit btn btn-success" href="#save"
                                           data-bind="visible: Id() == $root.catModel.edit.currentId(), click: $root.catModel.edit.save">Save</a>
                                        <a class="edit btn btn-dark" href="#edit"
                                           data-bind="click: $root.catModel.edit.edit, visible: Id() != $root.catModel.edit.currentId(),">
                                            <i class="fa fa-pencil-square-o"></i> Edit
                                        </a>
                                        <a class="delete btn btn-danger" href="#remove" data-bind="click: $root.catModel.recordRemove">
                                            <i class="fa fa-times-circle"></i> Remove
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination" style="margin-left: 40px">
                            <li>
                                <a href="#" aria-label="Previous" data-bind="click: paged.pagPrev">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span data-bind="text: paged.page"></span>/<span data-bind="text: paged.totalPage"></span> pages
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next" data-bind="click: paged.pagNext">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/admin/tag.js"></script>
    <script>
        jQuery(function($) {

            Admin_Tag_Service.init({
                getlist: "@Url.Action("GetList","Tags", new { area = "Admin"})",
                add: "@Url.Action("AddUpdate", "Tags", new { area = "Admin" })",
                del: "@Url.Action("Delete", "Tags", new { area = "Admin" })"
            });
            Admin_Tag({
                tags: @Html.ToJson(Model.Tags ?? new List<Tag>())
                });
        });
    </script>
}